<html>
  <head><title>Nifty Todo App</title></head>
  <body>
    <h1>There are <%= @tasks.size %> Tasks</h1>
    <ul>
      <% for task in @tasks %>
        <li><%= link_to task.title, task_path(task) %></li>
      <% end %>
    </ul>
  </body>
</html>
