<p><%= link_to "new task", new_task_path %></p>
<h1>There are <%= @tasks.size %> Tasks</h1>
<div class="list-grou">
  <% for task in @tasks %>
    <%= link_to task.title, task_path(task), class: 'list-group-item' %></li>
  <% end %>
</ul>
